<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!--
   <extension  point="org.eclipse.ui.views">
   <view
         class="edu.unlp.medicine.bioplat.poc.rcp.personas.PersonaViewPart"
         id="edu.unlp.medicine.bioplat.rcp.personas.persona.view"
         name="Persona"
         restorable="false">
   </view>
  </extension>
   
   <extension
         point="edu.medicine.bioplat.rcp.editor.operation.contribution">
      <actionContribution
            caption="Poc Dummy Contribution"
            class="edu.unlp.medicine.bioplat.poc.DummyActionContribution">
         <selection
               class="edu.unlp.medicine.entity.generic.AbstractEntity">
         </selection>
      </actionContribution>
      <actionContribution
            caption="by.4"
            class="edu.unlp.medicine.bioplat.rcp.ui.experiment.actions.contributions.By4ActionContribution">
         <selection
               class="edu.unlp.medicine.entity.experiment.AbstractExperiment">
         </selection>
      </actionContribution>
      <actionContribution
            caption="Remove Selected Genes"
            class="edu.unlp.medicine.bioplat.rcp.ui.experiment.actions.contributions.RemoveSelectedGenesActionContribution">
         <selection
               class="edu.unlp.medicine.entity.experiment.Experiment"></selection>
      </actionContribution>
      <actionContribution
            caption="Keep Selected Genes Only"
            class="edu.unlp.medicine.bioplat.rcp.ui.experiment.actions.contributions.KeepOnlySelectedGenesAC">
         <selection
               class="edu.unlp.medicine.entity.experiment.Experiment"></selection>
      </actionContribution>
      <actionContribution
            caption="Open Model on dialog"
            class="edu.unlp.medicine.bioplat.poc.DialogWithModelAction"
            onMenu="false"
            onToolbar="false">
         <selection></selection>
      </actionContribution>
   </extension>
   
   
   <!- TODO  ver por qué no anda->

   <extension point="org.eclipse.ui.commands">
      <category            
      			id="edu.unlp.medicine.bioplat.poc.category1"            
      			name="Category 1"            
      			description="Description for category 1">
      </category>
      <command categoryId="edu.unlp.medicine.bioplat.poc.category1"
               description="Description for command handler 1"
               id="edu.unlp.medicine.bioplat.poc.command1"
               name="Command Handler 1">
      </command>
   </extension>
   
   <extension point="org.eclipse.ui.handlers">
      <handler            
      			class="edu.unlp.medicine.bioplat.poc.rcp.handlers.Handler1"            
      			commandId="edu.unlp.medicine.bioplat.poc.command1">
      </handler>
   </extension>
   
   <extension point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="menu:org.eclipse.ui.main.menu?before=additions">
         <menu
               commandId="edu.unlp.medicine.bioplat.poc.command1"
               icon="src/main/java/desc.png"
               id="menu.handler.1"
               label="Menu Handler 1">
         </menu>
      </menuContribution>
   </extension>
-->
</plugin>
