<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="edu.unlp.medicine.bioplat.rcp.ui.genes.startup.InitializeGenesUrlStartup">
      </startup>
      <startup
            class="edu.unlp.medicine.bioplat.rcp.ui.genes.startup.InitializeGeneSetUrlStartup">
      </startup>
   </extension>

</plugin>
