<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2007, 2008 Sonatype, Inc.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html
-->
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="editor.operation.contribution" name="%operations.menu.name" schema="schema/contribution.exsd"/>
   <extension
         id="id1"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="edu.unlp.medicine.bioplat.rcp.application.Application">
         </run>
      </application>
   </extension>
      <extension
            id="product"
            point="org.eclipse.core.runtime.products">
         <product
               application="edu.medicine.bioplat.rcp.id1"
               name="bioplat">
            <property
                  name="appName"
                  value="bioplat">
            </property>
            <property
                  name="preferenceCustomization"
                  value="preferences.ini">
            </property>
            <property
                  name="startupForegroundColor"
                  value="000000">
            </property>
            <property
                  name="startupMessageRect"
                  value="7,252,445,20">
            </property>
            <property
                  name="startupProgressRect"
                  value="5,275,445,15">
            </property>
         </product>
      </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="edu.unlp.medicine.bioplat.rcp.application.startup.LoadBasicData"></startup>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="edu.unlp.medicine.bioplat.rcp.application.BioPlatPerspective"
            id="bioplatrcp.perspective"
            name="%main.perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="edu.unlp.medicine.bioplat.rcp.ui.biomarker.editors.BiomarkerEditor"
            contributorClass="edu.unlp.medicine.bioplat.rcp.ui.biomarker.contributor.BiomarkerEditorActionBarContributor"
            default="false"
            icon="resources/icons/biomarker.PNG"
            id="bio.plat.biomarker.editor"
            name="%editor.name">
      </editor>
      <editor
            class="edu.unlp.medicine.bioplat.rcp.ui.experiment.editors.ExperimentEditor"
            contributorClass="edu.unlp.medicine.bioplat.rcp.ui.experiment.contributor.ExperimetEditorActionBarContributor"
            default="false"
            icon="resources/icons/experiment.png"
            id="bio.plat.experiment.editor"
            name="%experiment.editor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="bio.plat.rcp.actionSet1"
            label="%actionSet.label"
            visible="true">
         <menu
               id="bioplat.menu"
               label="%menu.label">
            <separator
                  name="bio.plat.rcp.biomarker.menu.separator">
            </separator>
         </menu>
         <action
               class="edu.unlp.medicine.bioplat.rcp.ui.biomarker.actions.OpenBiomarkerAction"
               icon="resources/icons/newBiomarker.PNG"
               id="bio.plat.rcp.biomarker.actions.new"
               label="%new.action.label"
               menubarPath="bioplat.menu/new.menu/additions"
               style="push">
         </action>
         <action
               class="edu.unlp.medicine.bioplat.rcp.ui.genes.acions.AddGeneAction"
               id="bio.plat.rcp.biomarker.actions.gen.add"
               label="%biomarker.addgen.action.label"
               style="push">
         </action>
         <action
               class="edu.unlp.medicine.bioplat.rcp.ui.experiment.actions.OpenExperimentAction"
               icon="resources/icons/experiment.png"
               id="bio.plat.rcp.experiment.actions.new"
               label="%experiment.new.action.label"
               style="push">
         </action>
      </actionSet>
      
   </extension>
      <extension
      point="org.eclipse.ui.views">
   <view
         name="%progress.view.name"
         category="org.eclipse.ui"
         class="org.eclipse.ui.ExtensionFactory:progressView"
         id="org.eclipse.ui.views.ProgressView">
   </view>
   <view
         class="edu.unlp.medicine.bioplat.rcp.ui.genes.view.GeneViewPart"
         id="edu.medicine.bioplat.rcp.gene.view"
         name="%gene.view.name"
         restorable="false">
   </view>
   <view
         class="edu.unlp.medicine.bioplat.rcp.ui.views.messages.MessageViewPart"
         id="edu.medicine.bioplat.rcp.message.view"
         name="%message.view.name"
         restorable="true">
   </view>
   <view
         class="edu.unlp.medicine.bioplat.rcp.personas.PersonaViewPart"
         id="edu.unlp.medicine.bioplat.rcp.personas.persona.view"
         name="Persona"
         restorable="false">
   </view>
</extension>
      <extension
            point="org.eclipse.ui.importWizards">
         <category
               id="edu.medicine.bioplat.rcp.import.experiment.root"
               name="%experiment.wizard.category.name">
         </category>
         <wizard
               category="edu.medicine.bioplat.rcp.import.experiment.root"
               class="edu.unlp.medicine.bioplat.rcp.ui.experiment.imports.FileExperimentImport"
               id="edu.medicine.bioplat.rcp.import.experiment.fromFile"
               name="%experiment.csv.file.import.wizard.name">
         </wizard>
         <category
               id="edu.medicine.bioplat.rcp.other"
               name="%experiment.other.category.name">
         </category>
      </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="edu.medicine.bioplat.rcp.export.biomarker.root"
            name="%biomarker.wizard.category.name">
      </category>
      <wizard
            category="edu.medicine.bioplat.rcp.export.biomarker.root/"
            class="edu.unlp.medicine.bioplat.rcp.ui.biomarker.exports.ExportToFileWizard"
            icon="resources/icons/export.png"
            id="edu.medicine.bioplat.rcp.export.biomarker.file"
            name="%biomarker.export.to.file.wizard.entry.name">
      </wizard>
      <wizard
            category="edu.medicine.bioplat.rcp.export.biomarker.root/"
            class="edu.unlp.medicine.bioplat.rcp.ui.biomarker.exports.ExportGeneXSignatureHeatMapWizard"
            icon="resources/icons/export.png"
            id="edu.medicine.bioplat.rcp.export.biomarker.file2"
            name="%biomarker.export.X.signature.heat.map.wizard.entry.name">
      </wizard>
      <wizard
            category="edu.medicine.bioplat.rcp.export.biomarker.root/"
            class=" edu.unlp.medicine.bioplat.rcp.ui.biomarker.exports.ExportJustGeneIdsWizard"
            icon="resources/icons/export.png"
            id="edu.medicine.bioplat.rcp.export.biomarker.file3"
            name="%biomarker.export.just.gene.id.wizard.entry.name">
      </wizard>
      <category
            id="edu.medicine.bioplat.rcp.other"
            name="%biomarker.other.category.name">
      </category>
      <category
            id="edu.medicine.bioplat.rcp.export.biomarker.files"
            name="Archivo"
            parentCategory="edu.medicine.bioplat.rcp.export.biomarker.root">
      </category>
   </extension>
   <extension
         point="edu.medicine.bioplat.rcp.editor.operation.contribution">
      <actionContribution
            caption="Cambiar 0&apos;s..."
            class="edu.unlp.medicine.bioplat.rcp.ui.experiment.actions.ChangeZerosToAction">
         <selection
               class="edu.unlp.medicine.entity.experiment.AbstractExperiment">
         </selection>
      </actionContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="edu.unlp.medicine.bioplat.rcp.ui.experiment.preferences.ExperimentGeneralPreferencePage"
            id="edu.medicine.bioplat.rcp.experimente.general"
            name="General">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="edu.unlp.medicine.bioplat.rcp.ui.experiment.preferences.AbstractPreferenceInitializer1">
      </initializer>
   </extension>
</plugin>
