<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="edu.unlp.medicine.bioplat.core.preferences.AuthorPreferencePage"
            id="edu.unlp.medicine.bioplat.core.authorPage"
            name="Author">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="edu.unlp.medicine.bioplat.core.preferences.AbstractPreferenceInitializer1">
      </initializer>
   </extension>

</plugin>
