<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.bioplat.multiomics.MultiomicsWebPort"
            icon="org.bioplat.multiomics/resources/multiomics.png"
            id="org.bioplat.multiomics.web-port"
            name="MultiOmics"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="bioplat.menu">
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.bioplat.multiomics.handler.OpenWebPortHandler"
            commandId="org.bioplat.multiomics.open-web-port">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.bioplat.multiomics.open-web-port"
            name="Multiomics Web">
      </command>
   </extension>

</plugin>
