<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2007, 2008 Sonatype, Inc.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html
-->
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="editor.operation.contribution" name="%operations.menu.name" schema="schema/contribution.exsd"/>
   <extension
         id="id1"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="edu.unlp.medicine.bioplat.rcp.application.Application">
         </run>
      </application>
   </extension>
      <extension
            id="product"
            point="org.eclipse.core.runtime.products">
         <product
               application="edu.medicine.bioplat.rcp.id1"
               name="bioplat">
            <property
                  name="appName"
                  value="bioplat">
            </property>
            <property
                  name="preferenceCustomization"
                  value="preferences.ini">
            </property>
            <property
                  name="startupForegroundColor"
                  value="000000">
            </property>
            <property
                  name="startupMessageRect"
                  value="7,252,445,20">
            </property>
            <property
                  name="startupProgressRect"
                  value="5,275,445,15">
            </property>
            <property
                  name="windowImages"
                  value="resources/icons/window/adn.16x16.png,resources/icons/window/adn.32x32.png,resources/icons/window/adn.48x48.png,resources/icons/window/adn.64x64.png,resources/icons/window/adn.128x128.png">
            </property>
         </product>
      </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="edu.unlp.medicine.bioplat.rcp.application.startup.LoadBasicData"></startup>
      <startup
            class="edu.unlp.medicine.bioplat.rcp.application.startup.SWT_UI_Context_Configurator">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="edu.unlp.medicine.bioplat.rcp.application.BioPlatPerspective"
            id="bioplatrcp.perspective"
            name="%main.perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="edu.unlp.medicine.bioplat.rcp.ui.biomarker.editors.MultiPageBiomarkerEditor"
            contributorClass="edu.unlp.medicine.bioplat.rcp.ui.biomarker.contributor.BiomarkerEditorActionBarContributor"
            default="false"
            icon="resources/icons/biomarker.PNG"
            id="edu.unlp.medicine.biomarker.editor.multipage"
            name="%editor.name">
      </editor>
      <editor
            class="edu.unlp.medicine.bioplat.rcp.ui.experiment.editors.ExperimentEditor"
            contributorClass="edu.unlp.medicine.bioplat.rcp.ui.experiment.contributor.ExperimetEditorActionBarContributor"
            default="false"
            icon="resources/icons/experiment.png"
            id="bio.plat.experiment.editor"
            name="%experiment.editor.name">
      </editor>
      <editor
            class="edu.unlp.medicine.bioplat.rcp.ui.experiment.editors.AppliedExperimentEditor"
            contributorClass="edu.unlp.medicine.bioplat.rcp.ui.experiment.contributor.AppliedExperimetEditorActionBarContributor"
            default="false"
            icon="resources/icons/applied.experiment.png"
            id="bio.plat.applied.experiment.editor"
            name="%applied.experiment.editor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="bio.plat.rcp.actionSet1"
            label="%actionSet.label"
            visible="true">
         <menu
               id="bioplat.menu"
               label="%menu.label">
            <separator
                  name="bio.plat.rcp.biomarker.menu.separator">
            </separator>
         </menu>
         <action
               class="edu.unlp.medicine.bioplat.rcp.ui.biomarker.actions.OpenBiomarkerAction"
               icon="resources/icons/newBiomarker.PNG"
               id="bio.plat.rcp.biomarker.actions.new"
               label="%new.action.label"
               menubarPath="bioplat.menu/new.menu/additions"
               style="push">
         </action>
         <action
               class="edu.unlp.medicine.bioplat.rcp.ui.genes.acions.AddGeneAction"
               id="bio.plat.rcp.biomarker.actions.gen.add"
               label="%biomarker.addgen.action.label"
               style="push">
         </action>
         <action
               class="edu.unlp.medicine.bioplat.rcp.ui.experiment.actions.OpenExperimentAction"
               icon="resources/icons/experiment.png"
               id="bio.plat.rcp.experiment.actions.new"
               label="%experiment.new.action.label"
               style="push">
         </action>
      </actionSet>
      
   </extension>
      <extension
      point="org.eclipse.ui.views">
   <view
         category="org.eclipse.ui"
         class="org.eclipse.ui.ExtensionFactory:progressView"
         icon="resources/icons/progress.png"
         id="org.eclipse.ui.views.ProgressView"
         name="%progress.view.name">
   </view>
   <view
         class="edu.unlp.medicine.bioplat.rcp.ui.genes.view.GeneViewPart"
         icon="resources/icons/default.png"
         id="edu.medicine.bioplat.rcp.gene.view"
         name="%gene.view.name"
         restorable="false">
   </view>
   <view
         class="edu.unlp.medicine.bioplat.rcp.ui.views.messages.MessageViewPart"
         icon="resources/icons/messages.png"
         id="edu.medicine.bioplat.rcp.message.view"
         name="%message.view.name"
         restorable="true">
   </view>
   <view
         class="edu.unlp.medicine.bioplat.rcp.ui.biomarker.wizards.pso.PSOResultViewPart"
         icon="resources/icons/pso.png"
         id="edu.unlp.medicine.bioplat.rcp.ui.biomarker.wizards.pso.result.view"
         name="PSO Result"
         restorable="false">
   </view>
</extension>
      <extension
            point="org.eclipse.ui.importWizards">
         <category
               id="edu.medicine.bioplat.rcp.import.experiment.root"
               name="%experiment.wizard.category.name">
         </category>
         <wizard
               category="edu.medicine.bioplat.rcp.import.experiment.root"
               class="edu.unlp.medicine.bioplat.rcp.ui.experiment.imports.FileExperimentImport"
               id="edu.medicine.bioplat.rcp.import.experiment.fromFile"
               name="%experiment.csv.file.import.wizard.name">
         </wizard>
         <category
               id="edu.medicine.bioplat.rcp.other"
               name="%experiment.other.category.name">
         </category>
         <wizard
               category="edu.medicine.bioplat.rcp.import.experiment.root"
               class="edu.unlp.medicine.bioplat.rcp.ui.experiment.imports.GSEImport"
               id="edu.medicine.bioplat.rcp.import.experiment.fromGSE"
               name="Import from InSilico using GSE">
         </wizard>
         <wizard
               category="edu.medicine.bioplat.rcp.import.experiment.root"
               class="edu.unlp.medicine.bioplat.rcp.ui.experiment.imports.CelFileExperimentImport"
               id="edu.medicine.bioplat.rcp.import.experiment.fromCelFile"
               name="Cel File">
         </wizard>
      </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="edu.medicine.bioplat.rcp.export.biomarker.root"
            name="%biomarker.wizard.category.name">
      </category>
      <wizard
            category="edu.medicine.bioplat.rcp.export.biomarker.root/"
            class="edu.unlp.medicine.bioplat.rcp.ui.biomarker.exports.ExportToFileWizard"
            icon="resources/icons/export.png"
            id="edu.medicine.bioplat.rcp.export.biomarker.file"
            name="%biomarker.export.to.file.wizard.entry.name">
      </wizard>
      <wizard
            category="edu.medicine.bioplat.rcp.export.biomarker.root/"
            class="edu.unlp.medicine.bioplat.rcp.ui.biomarker.exports.ExportGeneXSignatureHeatMapWizard"
            icon="resources/icons/export.png"
            id="edu.medicine.bioplat.rcp.export.biomarker.file2"
            name="%biomarker.export.X.signature.heat.map.wizard.entry.name">
      </wizard>
      <wizard
            category="edu.medicine.bioplat.rcp.export.biomarker.root/"
            class=" edu.unlp.medicine.bioplat.rcp.ui.biomarker.exports.ExportJustGeneIdsWizard"
            icon="resources/icons/export.png"
            id="edu.medicine.bioplat.rcp.export.biomarker.file3"
            name="%biomarker.export.just.gene.id.wizard.entry.name">
      </wizard>
      <category
            id="edu.medicine.bioplat.rcp.export.experiment.root"
            name="%experiment.wizard.category.name">
      </category>
      <wizard
            category="edu.medicine.bioplat.rcp.export.experiment.root/"
            class="edu.unlp.medicine.bioplat.rcp.ui.experiment.exports.ExportExperimentToFileWizard"
            icon="resources/icons/export.png"
            id="edu.medicine.bioplat.rcp.export.experiment.file"
            name="%experiment.export.to.file.wizard.entry.name">
      </wizard>
      <category
            id="edu.medicine.bioplat.rcp.other"
            name="%biomarker.other.category.name">
      </category>
      <category
            id="edu.medicine.bioplat.rcp.export.biomarker.files"
            name="Archivo"
            parentCategory="edu.medicine.bioplat.rcp.export.biomarker.root">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="edu.unlp.medicine.bioplat.rcp.ui.entities.preferences.DefaultEmptyPreferencesPage"
            id="edu.medicine.bioplat.rcp.experimento.general"
            name="Experiments">
      </page>
      <page
            category="edu.medicine.bioplat.rcp.experimento.general"
            class="edu.unlp.medicine.bioplat.rcp.ui.experiment.preferences.ExperimentGeneralPreferencePage"
            id="edu.medicine.bioplat.rcp.experimento.editor"
            name="Editor">
      </page>
      <page
            class="edu.unlp.medicine.bioplat.rcp.ui.entities.preferences.DefaultEmptyPreferencesPage"
            id="edu.medicine.bioplat.rcp.genes.general"
            name="Genes">
      </page>
      <page
            category="edu.medicine.bioplat.rcp.genes.general"
            class="edu.unlp.medicine.bioplat.rcp.ui.genes.preferences.ExternalGeneInformationPage"
            id="edu.medicine.bioplat.rcp.genes.external"
            name="External Information">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="edu.unlp.medicine.bioplat.rcp.ui.experiment.preferences.AbstractPreferenceInitializer1">
      </initializer>
   </extension>
   <extension
         point="edu.medicine.bioplat.rcp.editor.operation.contribution">
      <actionContribution
            caption="Add Genes..."
            class="edu.unlp.medicine.bioplat.rcp.ui.genes.acions.AddGenesAC"
            image="resources/icons/plus.png"
            imagepath="resources/icons/checked.gif"
            onMenu="true"
            onToolbar="true">
         <selection
               class="edu.unlp.medicine.entity.biomarker.Biomarker">
         </selection>
      </actionContribution>
      <actionContribution
            caption="Change 0&apos;s"
            class="edu.unlp.medicine.bioplat.rcp.ui.experiment.actions.ChangeZerosToAction"
            onMenu="true">
         <selection
               class="edu.unlp.medicine.entity.experiment.AbstractExperiment">
         </selection>
      </actionContribution>
      <actionContribution
            caption="Absolute Value"
            class="edu.unlp.medicine.bioplat.rcp.ui.experiment.actions.AbsoluteValue"
            image="resources/icons/absolutevalue.png"
            onMenu="true">
         <selection
               class="edu.unlp.medicine.entity.experiment.AbstractExperiment">
         </selection>
      </actionContribution>
      
      <actionContribution
            caption="Apply Experiment"
            class="edu.unlp.medicine.bioplat.rcp.ui.experiment.actions.contributions.ApplyExperimentActionContribution"
            onMenu="true">
         <selection
               class="edu.unlp.medicine.entity.biomarker.Biomarker">
         </selection>
      </actionContribution>
      
      <actionContribution
            caption="Delete Genes..."
            class="edu.unlp.medicine.bioplat.rcp.ui.experiment.actions.contributions.RemoveGenesContribution"
            image="resources/icons/removeItem.gif"
            onMenu="true">
         <selection
               class="edu.unlp.medicine.entity.experiment.AbstractExperiment">
         </selection>
      </actionContribution>
      <actionContribution
            caption="Remove Genes..."
            class="edu.unlp.medicine.bioplat.rcp.ui.biomarker.actions.contributions.RemoveGenes"
            image="resources/icons/removeItem.gif"
            onMenu="true"
            onToolbar="true">
         <selection
               class="edu.unlp.medicine.entity.biomarker.Biomarker"></selection>
      </actionContribution>
      <actionContribution
            caption="Keep Only Genes..."
            class="edu.unlp.medicine.bioplat.rcp.ui.experiment.actions.contributions.KeepOnlyContribution"
            onMenu="true">
         <selection
               class="edu.unlp.medicine.entity.experiment.AbstractExperiment"></selection>
      </actionContribution>
      <actionContribution
            caption="Apply Logarithm"
            class="edu.unlp.medicine.bioplat.rcp.ui.experiment.actions.contributions.ApplyLogarithmAC"
            onMenu="true">
         <selection
               class="edu.unlp.medicine.entity.experiment.Experiment">
         </selection>
      </actionContribution>
      <actionContribution
            caption="PSO..."
            class="edu.unlp.medicine.bioplat.rcp.ui.biomarker.contributor.PSOActionContribution"
            image="resources/icons/pso.png"
            onMenu="true">
         <selection
               class="edu.unlp.medicine.entity.biomarker.Biomarker">
         </selection>
      </actionContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="edu.medicine.bioplat.rcp.Factory1"
            class="edu.medicine.bioplat.rcp.AdapterFactory1">
         <adapter
               type="edu.unlp.medicine.entity.biomarker.Biomarker">
         </adapter>
      </factory>
   </extension>
   
   <extension
         point="org.eclipse.ui.newWizards">
         
    <category
          name="Biomarcador"
          id="edu.unlp.medicine.bioplat.rcp.ui.biomarker.wizards">
    </category>
    
	
 	<wizard
        canFinishEarly="true"
        category="edu.unlp.medicine.bioplat.rcp.ui.biomarker.wizards"
        class="edu.unlp.medicine.bioplat.rcp.ui.biomarker.newWizard.CreateEmptyBiomarkerWizard"
        icon="resources/icons/newBiomarker.PNG"
        id="edu.unlp.medicine.bioplat.rcp.ui.biomarker.empty.new.wizard"
        name="Biomarcador vacío">
       <description>Nuevo biomarcador vacío</description>
	</wizard>
  <wizard
        canFinishEarly="false"
        category="edu.unlp.medicine.bioplat.rcp.ui.biomarker.wizards"
        class="edu.unlp.medicine.bioplat.rcp.ui.biomarker.newWizard.metasignature.generation.GenerateMetasignatureWizard"
        icon="resources/icons/generateMetasignature.png"
        id="edu.unlp.medicine.bioplat.rcp.ui.biomarker.new.wizard.generate"
        name="Generar biomarcador">
     <description>
        Nuevo biomarcador vacío
     </description>
  </wizard>
   </extension>
   
   <!--extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="edu.unlp.medicine.bioplat.rcp.intro">
      </intro>
      <introProductBinding
            introId="edu.unlp.medicine.bioplat.rcp.intro"
            productId="edu.medicine.bioplat.rcp.product">
      </introProductBinding>
   </extension>
   
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="introContent.xml"
            id="edu.medicine.bioplat.rcp.introConfigId"
            introId="edu.unlp.medicine.bioplat.rcp.intro">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx"
                  style="content/shared.css">
            </implementation>
         </presentation>
      </config>
   </extension-->
   
 
</plugin>
