<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<extension
         point="edu.medicine.bioplat.rcp.editor.operation.contribution">
   <actionContribution
         caption="Create Classifier From Gene Signature"
         class="org.bioplat.classifiers.CreateClassifierFromBiomarker"
         onMenu="true"
         onToolbar="false">
      <selection
            class="edu.unlp.medicine.entity.biomarker.Biomarker"></selection>
   </actionContribution>
</extension>

</plugin>
