<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Bioplat Target" sequenceNumber="55">
<locations>
<location path="${DROPBOX_HOME}/m2repo/eclipse/target.all" type="Directory"/>
<location path="${DROPBOX_HOME}/m2repo/eclipse/" type="Directory"/>
<location path="${M2_REPO}\bioplat\edu.medicine.bioplat.base.lib\1.2.0-SNAPSHOT" type="Directory"/>
</locations>
<environment>
<arch>x86</arch>
<nl>en_GB</nl>
</environment>
<launcherArgs>
<vmArgs>-Dosgi.requiredJavaVersion=1.5 -Xms100m -Xmx1g</vmArgs>
</launcherArgs>
</target>
